/* -- HEADER -- */
.page-header {
  border-bottom: 1px solid var(--border-bottom-color);
}
.page-header__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  line-height: 1.17;
}
.page-header__logo {
  margin-right: 93px;
}
.page-header__contacts {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  margin-left: auto;
}
/* -- ‡ HEADER -- */
